ul {
    list-style: none;
 }
 
 .list {
     border: solid;
     border-radius: 5px;
     border-width: 5px;
     list-style: none;
 }
 
 .img{ 
     display: flex;
     align-self: center;
     width: 400px;
     height: 400px;
 }
 
 .button-trash{
     margin-left: 400px;
     position: relative;
     padding: 10px 20px;
     border: none;
     cursor: pointer;
     overflow: hidden; 
 }
 
 .button-like{
     position: relative;
     padding: 10px 20px;
     border: none;
     cursor: pointer;
     overflow: hidden; 
 }
 
 