.entries-list {
    list-style: none;
    padding: 0;
}

.cards-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.cards-container h1 {
    margin: 25px 10px 15px;
}

.card-container {
    width: 60%;
    background: #4c586c;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 1;
}

.picture {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.entry-title {
    padding: 10px;
    color: white;
    text-decoration: none;
}

/* .entry-title:hover {
    color: green;
} */

.user-description {
    margin-bottom: 10px;
    text-align: justify;
    padding: 10px;
}

.entry-detail {
    margin-bottom: 10px;
    text-align: justify;
    padding: 10px;
}

.created-at {
    margin-bottom: 10px;
    text-align: justify;
    padding: 10px;
}

.like-button {
    margin-bottom: 10px;
    /* text-align: justify; */
    padding: 10px;
    background-color: #4c586c;
    border: none;
    text-decoration: none;
    color: white;
}

.votes {
    margin-bottom: 10px;
    /* text-align: justify; */
    /* padding: 10px; */
    font-weight: bold;
}

.delete-button {
    margin-bottom: 10px;
    /* text-align: justify; */
    /* padding: 10px; */
    background-color: #4c586c;
    border: none;
}

.card-footer {
    display: flex;
}

.material-symbols-outlined {
    color: white;
    padding: 10px;
}

@media only screen and (max-width: 678px) {
    .card-container {
        width: 96%;
        margin: 2%;
    }
}
