:root {
    --background-color: #4c586c;
    --letter-color: #6F2300;
    --line-box: #0e1317;
    --text-shadow: #9e3150;
    --box-shadow: #564E49;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.entry-box {
    position: relative;
    top: 350px;
    left: 50%;
    width: 300px;
    height: auto;
    padding: 20px;
    outline: auto;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 25px var(--box-shadow);
    background-color: var(--background-color);
}

.formEntry {
    background-color: transparent;
}

.h1 {
    margin-top: 50px;
    padding: 0;
    color: var(--letter-color);
    text-align: center;
}

.entry-box img {
    display: flex;
    margin: auto;
    padding: auto;
    width: 150px;
    height: 150px;
    overflow: hidden;
    outline: var(--letter-color);
}

.entry-box .box {
    position: relative;
}

.entry-box .box input,
.entry-box .box textarea {
    width: 100%;
    padding: 15px 0;
    margin-bottom: 10px;
    border: none;
    border-bottom: 0.5px solid var(--line-box);
    outline: var(--letter-color);
    background-color: transparent;
}

.entry-box .box label {
    position: absolute;
    top: -10px;
    bottom: 10px;
    left: 0;
    padding: 10px 0;
    background: transparent;
}


.labelFile {
    background-color: transparent;
    border-radius: 5px;
}

.input-file {
    width: calc(100% - 20px);
    padding: 10px 10px;
    border: 1px solid;
    color: #fff;
    background-color: transparent;
}

select {
    border-color: var(--line-box);
    outline: var(--line-box);
    color: #fff;
    width: calc(100% - 30px);
    padding: 2px 2px;
    top: -15px;
    padding: 4px 4px;
    margin: 20px 20px;
    letter-spacing: 4px;
    background-color: transparent;
}

textarea {
    resize: none;
}

.preview-image {
    margin-left: 100px;
}

.entry-box form button {
    position: relative;
    display: flex;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    outline: #fff solid 1px;
    overflow: hidden;
    transition: 0.5s;
    margin-left: 55px;
    margin-top: 20px;
    color: #fff;
    background-color: transparent;
}



@media (min-width: 768px) {

    .entry-box {
        position: relative;
        top: 350px;
        left: 50%;
        width: 800px;
        height: auto;
        padding: 50px;
        outline: auto;
    }

    .entry-box .box input:focus~label,
    .entry-box .box input:valid~label,
    .entry-box .box textarea:focus~label,
    .entry-box .box textarea:valid~label {
        top: -10px;
        left: 0;
        font-size: 14px;
    }

    .entry-box button:hover {
        text-shadow: 5px 2px 14px var(--text-shadow);
        font-weight: bold;
        border-radius: 2px;
        cursor: pointer;
        background-color: transparent;
    }

    .entry-box .box input,
    .entry-box .box textarea {
        display: flex;
        width: 700px;
        padding: 15px 0;
        margin: auto;
        margin-bottom: 10px;
        border: none;
        border-bottom: 1px solid var(--line-box);
        background-color: transparent;
    }

    .entry-box .box input:focus~label,
    .entry-box .box input:valid~label,
    .entry-box .box textarea:focus~label,
    .entry-box .box textarea:valid~label {
        top: -10px;
        left: 0;
        font-size: 14px;
    }

    .entry-box form button {
        position: relative;
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: 0.5s;
        margin-left: 300px;
        margin-top: 20px;
    }

    .entry-box button:hover {
        text-shadow: 5px 2px 14px var(--text-shadow);
        font-weight: bold;
        border-radius: 2px;
        cursor: pointer;
        background-color: transparent;
    }

    select {
        border-color: var(--line-box);
        outline: var(--line-box);
        color: #fff;
        width: 300px;
        padding: 2px 2px;
        top: -15px;
        padding: 4px 4px;
        margin: 20px 20px;
        letter-spacing: 4px;
        background-color: transparent;
    }
}