:root {
    --text-shadow: #20171796;
    --letter-color: #fff;
    --box-shadow: #011526;
}

.navHeader {
    font-size: 18px;
    width:100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr) auto;
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    border-bottom-style: 1px solid;
    box-shadow: 0px 20px 40px -26px var(--box-shadow);
    border-radius: 8px;
    background-color: inherit ;
}

nav .navLink {
    display: grid;
    justify-content: space-between;
    color: var(--letter-color);
    text-decoration: none;
}


.linkEntry {
    display: grid;
    justify-self: end;
    text-decoration: none;
    color: var(--letter-color);
}

.linkLogin {
    display: grid;
    justify-self: center;
    text-decoration: none;
    color: var(--letter-color);
}

.linkRegister {
    display: grid;
    justify-self: start;
    text-decoration: none;
    color: var(--letter-color);
}
div .logo {
    display: grid;
    justify-self: start;
    width: 140px;
    height: 140px;
    object-fit: contain; 
}

img .logo{
    border-radius: 50%;
}

.sessionClose {
    margin-right: 100px;
    display: grid;
    justify-self: center;
    border: none;
    background-color: transparent;
    color: var(--letter-color);
}


@media  screen and (min-width: 720px) {

    .navHeader {
        width: 100%;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr) auto;
    }
    

    nav .navLink {
        max-width: 100%;
        margin-top: 20px;
    }

    .linkEntry {
        display: grid;
        justify-self: end;
    }
    
    .linkLogin {
        display: grid;
        justify-self: end;
    }
    
    .linkRegister {
        display: grid;
        justify-self: center;
        text-decoration: none;
    }
    
    .sessionClose {
        display: grid;
        justify-self: center;
        cursor: pointer;
    }

    nav .logo {
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 0;
        width: 150px;
        height: 150px;
    }

}

