:root {
    --text-shadow: #20171796;
    --letter-color: #fff;
    --box-shadow: #011526;
    --background-color-m: #e6cc9d;
}

.navHeader {
    position: relative;
    /* z-index: 0; */
    background-color: var(--background-color-m);
    font-size: 18px;
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    border-bottom-style: 1px solid;
    box-shadow: 0px 20px 40px -26px var(--box-shadow);
    border-radius: 8px;
    transition: opacity 0.2s linear;
}

nav .navLink {
    display: grid;
    grid-area: 1 / 1 / 2 / 3;
    justify-content: space-between;
    color: var(--letter-color);
    text-decoration: none;
}

.linkEntry {
    display: grid;
    grid-area: 1 / 5 / 2 / 6;

    justify-self: end;
    text-decoration: none;
    color: var(--letter-color);
}

.linkLogin {
    display: grid;
    grid-area: 1 / 5 / 2 / 6;

    justify-self: center;
    text-decoration: none;
    color: var(--letter-color);
}

.linkRegister {
    display: grid;
    grid-area: 1 / 6 / 2 / 7;
    justify-self: start;
    text-decoration: none;
    color: var(--letter-color);
}
div .logo {
    display: grid;
    justify-self: start;
    width: 140px;
    height: 140px;
    object-fit: contain;
}

img .logo {
    border-radius: 50%;
}

.sessionClose {
    /* margin-right: 100px; */
    display: grid;
    grid-area: 1 / 6 / 2 / 7;

    justify-self: center;
    border: none;
    background-color: transparent;
    color: var(--letter-color);
}

.theme-toggle-button {
    grid-area: 1 / 7 / 2 / 8;
    border: 0;
    margin: 40px 40px 40px 0;
    background: none;
    cursor: pointer;
}

.logo-hed {
    width: 50px;
}

@media screen and (min-width: 720px) {
    .navHeader {
        width: 100%;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr) auto;
    }

    nav .navLink {
        max-width: 100%;
        /* margin-top: 20px; */
    }

    .linkEntry {
        display: grid;
        justify-self: end;
    }

    .linkLogin {
        display: grid;
        justify-self: end;
    }

    .linkRegister {
        display: grid;
        justify-self: center;
        text-decoration: none;
    }

    .sessionClose {
        display: grid;
        justify-self: center;
        cursor: pointer;
    }

    nav .logo {
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 0;
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 720px) {
    .navHeader {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    nav .navLink {
        grid-area: 1 / 2 / 2 / 2;
    }

    .linkLogin {
        grid-area: 1 / 5 / 2 / 6;
        margin-right: 10px;
    }

    .linkRegister {
        grid-area: 1 / 6 / 2 / 7;
        margin-right: 10px;
    }
    .theme-toggle-button {
        grid-area: 1 / 7 / 2 / 8;
    }

    .sidebar-header {
        grid-area: 1 / 1 / 2 / 2;
    }

    .linkEntry {
        margin-right: 10px;
    }

    .sessionClose {
        margin-right: 10px;
    }
}

@media (max-width: 520px) {
    .navHeader {
        font-size: 100%;
    }
    nav .navLink img {
        width: 110px;
    }
    .toggle-button img {
        width: 15px;
    }
    .theme-toggle-button img {
        width: 30px;
    }
}
