@import "./normalize.css";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
    /* color: #425f7c; */
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
