@import "./normalize.css";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #343d4b;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
}
