:root {
    --primary-color: #1ab188;
    --primary-color-dark: #184e40;
}
.login-ctn {
    position: relative;
    top: 350px;
    left: 50%;
    width: 500px;
    height: auto;
    padding: 40px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgb(1, 21, 38);
    background-color: var(--background-color);
}

.rg-btn2 {
    width: 100%;
    border: 0;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 0;
    font-size: 2rem;
    background: var(--primary-color);
    color: #fff;
    transition: all 0.5s ease;
}

.rg-btn2:hover {
    background: var(--primary-color-dark);
}

.title-login {
    text-align: center;
    padding-top: 2rem;

    color: #fff; /* Cambia el color del texto si es necesario */
}

.input-email-password {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    /* border: 1px solid #a0b3b0; */
    border-radius: 5px;
    color: #fff;
    transition: all 0.5s ease;
}

.input-email-password {
    outline: none;
}

.conten-email-password {
    text-align: center;
    padding: 70px;
    color: #b9d1d3;
}

.btn-login {
    width: 100%;
    border: 0;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 0;
    font-size: 2rem;
    background: var(--primary-color);
    color: #fff;
    transition: all 0.5s ease;
}

.btn-login:hover {
    background: var(--primary-color-dark);
}

@media (max-width: 720px) {
    .login-ctn {
        max-width: 80%;
        font-size: medium;
    }

    .title-login {
        font-size: 30px;
        padding: 80px 10px -120px 10px;
    }

    .btn-login {
        font-size: 20px;
    }
}

@media (min-width: 720px) {
    .input-email-password {
        max-width: 100%;
        /* font-size: large; */
    }

    .title-login {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .btn-login {
        font-size: 30px;
    }
}
