:root {
    --primary-color: #1ab188;
    --primary-color-dark: #184e40;
}

.menu-btn-col {
    width: 20px;
    transition: 0.5s;
    transform: rotate(90deg);
}

.menu-btn-col1 {
    width: 20px;
    transition: 0.5s;
}

.menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.buscar-lugar,
.buscar-categoria {
    padding: 8px;
    text-align: center;
}

.menu-filtar {
    text-align: center;
}
.menu a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 8px;
    background-color: #333;
}

.menu a:hover {
    background-color: #555;
}

.menu input {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: 0.2em solid var(--primary-color);
    background: rgba(var(--primary-color), 0.2);
    border-radius: 0.2em 0.2em 0 0;
    padding: 0.4em;
    color: var(--primary-color);
}

.ordenar-por-votos {
    text-align: center;
}

.button-sidebar {
    appearance: none;
    margin-top: 10px;
    border: 0.2em solid var(--primary-color);
    background: hsl(0 0 0/0);
    padding: 0.85em 1.5em;
    color: var(--primary-color);
    border-radius: 2em;
    transition: 0.5s;
}
.button-sidebar:hover {
    background: var(--primary-color);
    color: #fff;
}

.toggle-button {
    display: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 1250px) {
    .menu {
        display: none;
        align-items: center;
    }

    .toggle-button {
        display: block;
    }

    .sidebar.collapsed .menu {
        display: flex;
    }
}
